#map-container {
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;

	svg {
		stroke: #0002054f;
		filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
	}

	path {
		fill: #fff;

		&.on-hover {
			cursor: pointer;
			stroke-width: 1px;
			stroke: url(#gradient-vertical);
		}
	}

	ul {
		left: 5%;
		position: absolute;

		li {
			list-style: none;
			line-height: 2.4em;

			&.on-hover {
				background-size: 100%;
				background-repeat: repeat;

				background-clip: text;
				-webkit-text-fill-color: transparent;

				background-image: linear-gradient(to left, #000000, #3d1e22, #773831, #ad5934, #da852c, #e68e24, #f29818, #fda200, #f6820a, #ec6119, #de3d23, #cd022b);
			}
		}
	}
}

@media screen and (max-width: 992px) {
	ul {
	  display: none;
	}
}
