#map-container {
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	.land {
		&:hover {
			cursor: pointer;
			fill: url(#gradient-vertical) #fff;
		}
		fill: #fff;
	}
}
