/* You can add global styles to this file, and also import other style files */
body {
	font: 500 16px 'Roboto', sans-serif;

	background: #FFFDFA;
	// filter: invert(1) hue-rotate(180deg);

	height: 100vh;
	width: 100vw;

	overflow: hidden;
}
